In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
# Load IndividualDetails data as df

df = pd.read_csv("IndividualDetails.csv")

In [7]:
df['detected_city'].isna().sum()

25543

In [8]:
df['detected_city']

0                        Thrissur
1                       Alappuzha
2                       Kasaragod
3        East Delhi (Mayur Vihar)
4                       Hyderabad
                   ...
27885                         NaN
27886                         NaN
27887                         NaN
27888                         NaN
27889                         NaN
Name: detected_city, Length: 27890, dtype: object

In [9]:
# drop id column

df = df.drop(['id'], axis=1)

In [10]:
# offset index by 1

df.index += 1

In [11]:
# to find the index values at the end of the required weeks
#np.where(df["diagnosed_date"] == '20/03/2020')
#np.where(df["diagnosed_date"] == '27/03/2020')
#np.where(df["diagnosed_date"] == '03/04/2020')
#np.where(df["diagnosed_date"] == '10/04/2020')

## Change before each time period

In [12]:
# taking only dates upto the end of the particular week

#required_data = df[df.index <= 256]
#required_data = df[df.index <= 883]
#required_data = df[df.index <= 3105]
required_data = df[df.index <= 7599]

In [13]:
# Create a data frame containing data of only hospitalized people 

df_with_only_hospitalized = required_data[required_data['current_status'] == 'Hospitalized']

In [14]:
# Removing data with missing details about districts 

df_hospitalized_no_na = df_with_only_hospitalized[df_with_only_hospitalized['detected_district'].notna()]

In [15]:
# Create object with number of cases per district

no_of_cases_by_district = df_hospitalized_no_na.groupby(['detected_district']).size()

In [16]:
# change object to data frame 

no_of_cases_by_district = no_of_cases_by_district.to_frame()

In [17]:
no_of_cases_by_district

                     0
detected_district
Adilabad            10
Agra                83
Ahmadabad          195
Ahmadnagar          25
Aizawl               1
...                ...
Wayanad              1
West Delhi           1
West Godavari       22
Y.S.R.              29
Yavatmal             4

[349 rows x 1 columns]

In [18]:
# rename index column 

no_of_cases_by_district.rename({0 : 'no_of_cases'}, axis = 1, inplace=True)

In [19]:
# creating new data frame that contains only districts that are 'hotspots'

hotspots = no_of_cases_by_district[no_of_cases_by_district['no_of_cases'] >= 10]

In [20]:
hotspots

                   no_of_cases
detected_district
Adilabad                    10
Agra                        83
Ahmadabad                  195
Ahmadnagar                  25
Akola                       12
...                        ...
Virudhunagar                11
Visakhapatnam               19
Warangal Urban              20
West Godavari               22
Y.S.R.                      29

[128 rows x 1 columns]

In [21]:
no_of_hotspots=pd.merge(hotspots,df_hospitalized_no_na,how='left',on='detected_district')

In [22]:
no_of_hotspots

,detected_district,no_of_cases,government_id,diagnosed_date,age,gender,detected_city,detected_state,nationality,current_status,status_change_date,notes
0,Adilabad,10,NaN,05/04/2020,NaN,NaN,NaN,Telangana,NaN,Hospitalized,05/04/2020,Details Awaited
1,Adilabad,10,NaN,07/04/2020,NaN,NaN,NaN,Telangana,NaN,Hospitalized,07/04/2020,Details awaited
2,Adilabad,10,NaN,10/04/2020,NaN,NaN,NaN,Telangana,NaN,Hospitalized,10/04/2020,Details awaited
3,Adilabad,10,NaN,10/04/2020,NaN,NaN,NaN,Telangana,NaN,Hospitalized,10/04/2020,Details awaited
4,Adilabad,10,NaN,10/04/2020,NaN,NaN,NaN,Telangana,NaN,Hospitalized,10/04/2020,Details awaited
...,...,...,...,...,...,...,...,...,...,...,...,...
5662,Y.S.R.,29,AP-P274,06/04/2020,38,F,Kadappa,Andhra Pradesh,NaN,Hospitalized,06/04/2020,NaN
5663,Y.S.R.,29,AP-P275,06/04/2020,13,F,Kadappa,Andhra Pradesh,NaN,Hospitalized,06/04/2020,NaN
5664,Y.S.R.,29,AP-P276,06/04/2020,21,M,Kadappa,Andhra Pradesh,NaN,Hospitalized,06/04/2020,NaN
5665,Y.S.R.,29,AP-P277,06/04/2020,44,M,Kadappa,Andhra Pradesh,NaN,Hospitalized,06/04/2020,NaN
5666,Y.S.R.,29,AP-P350,09/04/2020,60,F,Kadappa,Andhra Pradesh,NaN,Hospitalized,09/04/2020,Details awaited

In [23]:
no_of_hotspots.drop_duplicates(subset ="detected_district",keep = 'first', inplace = True)

In [24]:
number=no_of_hotspots['detected_state'].value_counts()

In [25]:
number= number.to_frame()

In [26]:
number

                   detected_state
Tamil Nadu                     25
Rajasthan                      12
Telangana                      11
Andhra Pradesh                 11
Maharashtra                    10
Uttar Pradesh                   9
Jammu and Kashmir               8
Punjab                          7
Gujarat                         7
Kerala                          6
Madhya Pradesh                  6
Haryana                         4
Karnataka                       4
Chhattisgarh                    1
Bihar                           1
Ladakh                          1
Delhi                           1
Chandigarh                      1
Odisha                          1
Himachal Pradesh                1
Uttarakhand                     1

## Change before each period

In [27]:
#number.rename({'detected_state' : 'number_of_hotspots_20/3/2020'}, axis = 1, inplace=True)
#number.rename({'detected_state' : 'number_of_hotspots_27/3/2020'}, axis = 1, inplace=True)
#number.rename({'detected_state' : 'number_of_hotspots_03/4/2020'}, axis = 1, inplace=True)
#number.rename({'detected_state' : 'number_of_hotspots_10/4/2020'}, axis = 1, inplace=True)

In [28]:
number['State'] = number.index

In [29]:
number.reset_index(drop=True, inplace=True)

In [30]:
number

    detected_state              State
0               25         Tamil Nadu
1               12          Rajasthan
2               11          Telangana
3               11     Andhra Pradesh
4               10        Maharashtra
5                9      Uttar Pradesh
6                8  Jammu and Kashmir
7                7             Punjab
8                7            Gujarat
9                6             Kerala
10               6     Madhya Pradesh
11               4            Haryana
12               4          Karnataka
13               1       Chhattisgarh
14               1              Bihar
15               1             Ladakh
16               1              Delhi
17               1         Chandigarh
18               1             Odisha
19               1   Himachal Pradesh
20               1        Uttarakhand

In [31]:
cols = number.columns.tolist()
cols = number.columns.tolist()
cols = cols[-1:] + cols[:-1]
number = number[cols]

## Change before each period

In [32]:
#number_1=number
#number_2=number
#number_3=number
#number_4=number

## Change before each period

In [33]:
#number_1.to_csv('number_1.csv')
#number_2.to_csv('number_2.csv')
#number_3.to_csv('number_3.csv')
#number_4.to_csv('number_4.csv')

In [34]:
number_1=pd.read_csv('number_1.csv')
number_2=pd.read_csv('number_2.csv')
number_3=pd.read_csv('number_3.csv')
number_4=pd.read_csv('number_4.csv')

In [35]:
number_1.drop('Unnamed: 0',axis=1,inplace=True)

In [36]:
number_2.drop('Unnamed: 0',axis=1,inplace=True)

In [37]:
number_3.drop('Unnamed: 0',axis=1,inplace=True)

In [38]:
number_4.drop('Unnamed: 0',axis=1,inplace=True)

In [39]:
number_4.rename({'State' : 'State_2'}, axis = 1, inplace=True)

In [40]:
result = pd.concat([number_1,number_2,number_3,number_4],axis=1)

In [41]:
result.drop('State',axis=1,inplace=True)

In [42]:
result.fillna(0,inplace=True)

In [43]:
result = result[["State_2", "number_of_hotspots_20/3/2020", "number_of_hotspots_27/3/2020","number_of_hotspots_03/4/2020","number_of_hotspots_10/4/2020"]]

In [44]:
result

,State_2,number_of_hotspots_20/3/2020,number_of_hotspots_27/3/2020,number_of_hotspots_03/4/2020,number_of_hotspots_10/4/2020
0,Tamil Nadu,2.0,4.0,14.0,25
1,Rajasthan,1.0,3.0,8.0,12
2,Andhra Pradesh,0.0,1.0,6.0,11
3,Telangana,0.0,1.0,5.0,11
4,Maharashtra,0.0,1.0,5.0,10
5,Uttar Pradesh,0.0,1.0,5.0,9
6,Jammu and Kashmir,0.0,1.0,4.0,8
7,Punjab,0.0,1.0,3.0,7
8,Gujarat,0.0,1.0,3.0,7
9,Madhya Pradesh,0.0,1.0,3.0,6
10,Kerala,0.0,1.0,2.0,6
11,Karnataka,0.0,1.0,2.0,4
12,Haryana,0.0,0.0,1.0,4
13,Uttarakhand,0.0,0.0,1.0,1
14,Odisha,0.0,0.0,1.0,1
15,Chandigarh,0.0,0.0,1.0,1
16,Himachal Pradesh,0.0,0.0,1.0,1
17,Ladakh,0.0,0.0,1.0,1
18,Delhi,0.0,0.0,0.0,1
19,Chhattisgarh,0.0,0.0,0.0,1
20,Bihar,0.0,0.0,0.0,1

In [45]:
result['change1']=result['number_of_hotspots_27/3/2020']-result['number_of_hotspots_20/3/2020']
result['change2']=result['number_of_hotspots_03/4/2020']-result['number_of_hotspots_27/3/2020']
result['change3']=result['number_of_hotspots_10/4/2020']-result['number_of_hotspots_03/4/2020']

In [46]:
table1=result[['State_2',"number_of_hotspots_20/3/2020","number_of_hotspots_27/3/2020",'change1']]
table2=result[['State_2',"number_of_hotspots_27/3/2020","number_of_hotspots_03/4/2020",'change2']]
table3=result[['State_2',"number_of_hotspots_03/4/2020","number_of_hotspots_10/4/2020",'change3']]

In [53]:
table1.sort_values(by='change1',ascending=False,inplace=True)

C:\Users\Taher\Anaconda3\envs\newenv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [54]:
table2.sort_values(by='change2',ascending=False,inplace=True)

C:\Users\Taher\Anaconda3\envs\newenv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [55]:
table3.sort_values(by='change3',ascending=False,inplace=True)

C:\Users\Taher\Anaconda3\envs\newenv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [56]:
table1.to_csv('change_first_week.csv')
table2.to_csv('change_second_week.csv')
table3.to_csv('change_third_week.csv')